  .homeframe.wrap-login100 {
    width: 65%;
    background: #fff;
    border-radius: 4em;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    padding: 10% 7% 3% 7%;
  }

  @media (max-width: 992px) {
    .homeframe.wrap-login100 {
      padding: 10% 7% 3% 7%;
    }
  }
  
  @media (max-width: 768px) {
    .homeframe.wrap-login100 {
      padding: 10% 7% 3% 7%;
    }
  }

  @media (max-width: 576px) {
    .homeframe.wrap-login100 {
      padding: 10% 7% 3% 7%;
    }
  }