.imgContainer {
	position: relative;
	display: inline-block;
}

.boundingBox {
	position: absolute; 
	display:none;
}

.boundingBox.active {
	position: absolute; 
	display:block;
	border: 4px solid blue;
}

#imgFace {
	width: 400px;
	height: auto;
}